*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #758694;
    height: 100dvh;
    width: 100dvw;

}

header{
    background-color: #2F3645;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    
    & > nav.left{
        background-color: #EFF7F8;
        border-radius: 40px;
        height: 50px;
        display: flex;

        & > img{
           height: 50px;
        }
    }

    & > nav.middle{
        display: flex;
        flex-direction: row;
        gap: .2rem;        

        & > h2{
            color: #EFF7F8;
            font-size: 2rem;
            transition: ease-in-out .5s;
            &:hover{
                color: #4C3BCF;
                transform: scale(0.9);
                text-transform: lowercase;
            }
        }
    }

    & > nav.right{
        display: flex;
        gap: 1.5rem;

        & > a{
            color: #EFF7F8;
            font-size: 1rem;
            text-decoration: none;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            transition: ease-in-out .3s;
            &:hover{
                color: #4C3BCF;
                transform: scale(1.3);
                text-transform: lowercase;
            }
        }
    }
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    flex-direction: column;
    
    & > nav.title{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        background-color: #EFF7F8;
        width: 100dvw;

        & > h2{
            color: #2F3645;
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            text-shadow: 4px 4px 2px #758694;
        }
    }

    & > nav.container2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-direction: row;
        padding: 1rem;

    
        & > nav.projects{
            display: flex;
            justify-content: center;
            background-color: #EFF7F8;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            height: 25rem;
            width: 25rem;
            border: .2rem solid #2F3645;
            padding: 1rem;
            box-shadow: 10px 10px 5px 0px rgba(76,59,207,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(76,59,207,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(76,59,207,0.75);

            & > nav.img{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .5rem;
                gap: 1rem;
                flex-direction: column;

                & > h3{
                    color: #2F3645;
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-align: center;
                    border-bottom: .2rem solid #2F3645;
                    width: 20rem;
                    padding: 1rem;
                    text-shadow: 1px 1px 2px rgba(247,231,220,0.6);
                }

                & > img{
                    height: 100px;
                    max-width: 15rem;
                    border: .2rem solid #2F3645;
                    transition: ease-in-out .5s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }

            }

            & > nav.content{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                flex-direction: column;

                & > h4{
                    color: #2F3645;
                    font-size: 1rem;
                    font-weight: 600;
                    text-align: center;
                    border: #2F3645 solid .2rem;
                    width: 15rem;
                }

                & > p{
                    color: #2F3645;
                    font-size: 1rem;
                    font-weight: 600;
                    text-align: center;
                    max-width: 25rem;
            }
        }

        & > nav.buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            & > a{
                color: #EFF7F8;
                font-size: 1rem;
                text-decoration: none;
                padding: .5rem;
                border-radius: 20px;
                background-color: #4C3BCF;
                border: .1rem solid #2F3645;
                transition: ease-in-out .5s;
                &:hover{
                    color: #4C3BCF;
                    background-color: #EFF7F8;
                    transform: scale(1.1);
                }
            }
        }
        
        }
    }

    & > nav.container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-direction: row;
        padding: 1rem;
        padding-top: 2rem;
    
        & > nav.projects{
            display: flex;
            justify-content: center;
            background-color: #EFF7F8;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            height: 25rem;
            width: 25rem;
            border: .2rem solid #2F3645;
            padding: 1rem;
            box-shadow: 10px 10px 5px 0px rgba(76,59,207,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(76,59,207,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(76,59,207,0.75);

            & > nav.img{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .5rem;
                gap: 1rem;
                flex-direction: column;

                & > h3{
                    color: #2F3645;
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-align: center;
                    border-bottom: .2rem solid #2F3645;
                    width: 20rem;
                    padding: 1rem;
                    text-shadow: 1px 1px 2px rgba(247,231,220,0.6);
                }

                & > img{
                    height: 100px;
                    max-width: 15rem;
                    border: .2rem solid #2F3645;
                    transition: ease-in-out .5s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }

            }

            & > nav.content{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                flex-direction: column;

                & > h4{
                    color: #2F3645;
                    font-size: 1rem;
                    font-weight: 600;
                    text-align: center;
                    border: #2F3645 solid .2rem;
                    width: 15rem;
                }

                & > p{
                    color: #2F3645;
                    font-size: 1rem;
                    font-weight: 600;
                    text-align: center;
                    max-width: 25rem;
            }
        }

        & > nav.buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            & > a{
                color: #EFF7F8;
                font-size: 1rem;
                text-decoration: none;
                padding: .5rem;
                border-radius: 20px;
                background-color: #4C3BCF;
                border: .1rem solid #2F3645;
                transition: ease-in-out .5s;
                &:hover{
                    color: #4C3BCF;
                    background-color: #EFF7F8;
                    transform: scale(1.1);
                }
            }
        }
        
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2F3645;

    & > nav.message{
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        & > h5{
            color: #EFF7F8;
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
        }
        & > h6{
            color: #EFF7F8;
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
        
        }
    }
    
    & > nav.icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        padding: .5rem;
        padding-bottom: 1rem;
            
        & > a{
            border: .2rem #4C3BCF solid;
            height: 3rem;
            width: 3rem;
            border-radius: 50px;
            padding-top: .8rem;
            text-decoration: none;
            transition: ease-in-out .5s;
            &:hover{
                color: #EFF7F8;
                transform: scale(1.2);
                background-color: #4C3BCF;
                box-shadow: #4C3BCF 0px 0px 10px 0px;
            }

            & > i{
                color: #4C3BCF;
                transition: ease-in-out .5s;
                &:hover{
                    color:  #758694;
                    transform: scale(1.2);
                }
            }
        }
    }
    
    & > nav.under{
        display: flex;
        flex-direction: column;
        text-align: center;
        border-top: .2rem dashed #758694;
        font-family: 'Courier New', Courier, monospace;
        width: 100dvw;
        padding: 1rem;
        & > h2{
            color: #EFF7F8;
            font-size: 1rem;
            
        }
    }
}

